@charset "UTF-8";

/* 공통 css */
/* 여백제거, 구역사이즈기준 -> 테두리기준 */
*{
	padding: 0px; margin: 0px; 
	box-sizing: border-box; 
	font-family: 'HANAMDAUM';
}
/* a태그색상, 밑줄제거 */
a{color: black; text-decoration: none;}
li{list-style-type: none;}
/* 외부폰트 */
@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 웹 컨텐츠 사이즈 (950px ~ 1350px) */
.webcontainer{
	width: 1200px;
}
/* 테마색상 
	#F2C094
	#733119
	#D97E6A
	#404040
*/	

/*  
		box-sizing: content-box; [기본값]
			구역+여백 => 사이즈
			300 + 10 => 310
		box-sizing: border-box;
			300 + 10 => 300
*/

#header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0px 0px 50px 0px;
	background-color: #FBE0C3;
}

.mainlogo{
	width: 5%;
}

.mainlogo img{
	width: 100%;
}

.mainmenu{
	display: flex;
	font-size: 20px;
}

.mainmenu li{
	margin-right: 20px;
}

.submenu{
	display: flex;
	font-size: 13px;
}

.submenu li{
	margin-right: 10px;
}

.hmimg{
	width: 50px;	height: 50px;
	border-radius: 50%;
	border: solid 1px #e8e8e8;
}























