@charset "UTF-8";

#writeWrap{
	width: 1300px;
	margin: 0 auto;
}

#writeWrap h3{
	margin-bottom: 20px;
}

.mb-3{
	margin-top: 20px;
}

.mb-3 label{
	margin-left: 10px;
}

.contentInput{
	display: block;
	width: 100%;
}
































